<?xml version="1.0"?>
<launch>
  <node name="novatel"
        pkg="nodelet" type="nodelet"
        args="standalone novatel_gps_driver/novatel_gps_nodelet">
    <rosparam>
      verbose: true
      connection_type: serial
      device: /dev/ttyUSB0
      publish_novatel_xyz_positions: true
      frame_id: /gps
      serial_baud: 115200
      expected_rate: 3
      polling_period: 0.1
      reconnect_delay_s: 2
    </rosparam>
  </node>
</launch>
